<div id="content">
  <img src="/images/about-03.png" width="202" height="295" id="boss"> <img src="/images/about-01.png" width="932" height="335">
  <p>Versatile Dragon was established in 2004, and has for the past years, focused on development in the field of electronics design. Our current possession of a core heating technology has provided a breakthrough in this field: a revolutionary product that continues to produce heat at -40°C ambient temperature. Providing OEM/ODM/OBM services, Versatile Dragon continues to accumulate innovations and new technologies to help clients develop a variety of products to solve their heating needs. Working together with clients, Versatile Dragon aims to develop the heated products market and expand its services to a larger customer base, providing warmth to each and every end-user.
  <br><br>
  In the future, Versatile Dragon will continue to advance and innovate current existing technologies and improve its integration capabilities. To expand the horizon of heated products, we would like to work with you in leading the trend and creating new markets. We sincerely welcome your inquiries and advice. Please contact us at any time.。
  <br><br>
<h3>Business Philosophy</h3>
To care, understand, and satisfy the needs of people and society is the core operating <br/> philosophy of Versatile Dragon. Through this spirit, we consistently devote ourselves to <br/> the development of new technologies and innovations, to achieve our goal of building <br/> a sustainable business. <br><br>
<h3>Social Care</h3>
We believe that corporations are a part of society. Constant care and giving back to <br/> society is one of our missions. 
<br><br>
<h3>Ethical Responsibility</h3>
Employee rights adhere to local labor laws, and strive to meet SA8000 standards：<br>
• Provision of a safe and healthy working environment<br>
• Compensations match or surpass legal/industry standards<br>
• No use of forced labor<br>
• No use of child labor<br>
• No discrimination of race, religion, ethnicity, nationality, or gender<br>
• No punitive measures
<br><br>
<h3>Company Information：</h3>
Established in 2004<br>
Capital: 5 million USD<br>
Employees: 400<br>
Manufacturing and R&D Sites: Dongguan, Suzhou, Taiwan
<br><br>
<h3>Quality process management</h3>
<img src="/images/about-02.png" width="991" height="441">
      </p>
</div>