<div id="content">
	<img src="/images/about-03.png" width="202" height="295" id="boss"> <img src="/images/about-01.png" width="932" height="335">
	<p>龙全控股成立於2004年，多年来钻研於电子设计领域，掌握核心发热技术，
  突破业界瓶颈，开发出於零下40℃仍能正常发热的革命性产品；以OEM/ODM/
  OBM服务型态，龙全控股致力於累积创新想法及专业技术，为客户设计出适合
  不同产品丶各种应用的发热解决方案，携手开创发热新商机，服务广大客群，
  将一分温暖带给所有使用者。
  <br><br>
  未来龙全控股将持续提升技术与机构整合能力，改变世界对发热产品的想像
  力，与您一同领导潮流丶创造市场，诚挚欢迎您随时与我们联络。
  <br><br>
<h3>经营理念</h3>
关怀丶了解，进而满足人与社会的需求，是龙全控股的核心经营精神；以此精
神龙全努力钻研技<br>
术，创新发展，进而达成永续经营的目标。 <br><br>
<h3>社会关怀</h3>
我们相信企业是社会的一部分，时时关怀丶回馈社会亦是我们的使命之一。
<br><br>
<h3>道德责任</h3>
所有劳工权益均符合当地法规，并力求符合SA8000标准：<br>
• 提供安全健康的工作环境<br>
• 薪资不低於法律或行业最低标准<br>
• 不使用强迫劳动<br>
• 不雇用童工<br>
• 不歧视种族丶宗教丶肤色丶国籍丶性别<br>
• 不使用惩戒性措施
<br><br>
<h3>公司基本资料：</h3>
成立时间：2004年<br>
资本额：美金500万元<br>
员工人数：400人<br>
制造与研发据点：东莞丶苏州丶台湾
<br><br>
<h3>优质制程管理</h3>
<img src="/images/about-02.png" width="991" height="441">
      </p>
</div>