<div id="content">
      <div id="content-1">
        <h3>Heat up your business with us</h3>
        <p>
          Versatile Dragon is dedicated to developing and researching new products for years to maximize product value and promote corporate identity. We successfully develop adjustable DC/AC temperature control which is patented. Versatile Dragon’s professional experience in electronics industry gains competence in OBM/ODM/OEM.
        </p>
      </div>
      <div id="content-2">
        <div class="box">
          <img src="/images/partner-13.jpg">
          <p>
            The main products of our brand KYUWA is safe and economical heating products with DC low voltage technology. KYUWA provides non seasonal heating products and keep innovating new products to segment the market.
          </p>
        </div>
        <div class="box">
          <img src="/images/partner-14.jpg">
          <p>
            To meet various market needs, we are capable of providing proper solution with professional technologies across industries to customize your products, assisting you promote your market.
          </p>
        </div>
        <div class="box">
          <img src="/images/partner-15.jpg">
          <p>
            Versatile Dragon has professional production environment and equipment. We provide technical support such as SMT AI, DIP, etc. The cautious production process and personnel management provides impress cooperative relationship.
          </p>
        </div>
      </div>
      <div id="content-3">
        Versatile Dragon keeps innovating, creating, and growing. <br>We welcome collaborations with all industries to develop new business and customers.
      </div>
      <div id="content-4">
        <h3>Environment</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="158" align="center" valign="top"><img src="/images/p-01.jpg"></td>
            <td align="center" valign="top"><img src="/images/p-02.jpg"></td>
            <td width="158" align="center" valign="top"><img src="/images/p-03.jpg"></td>
          </tr>
          <tr>
            <td align="center"><img src="/images/p-04.jpg"></td>
            <td align="center"><img src="/images/p-05.jpg"></td>
            <td align="center"><img src="/images/p-06.jpg"></td>
          </tr>
        </table>
      </div>
      <div id="content-5">
        <h3>Partners</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <img src="/images/partner-01.png"></td>
            <td align="center">
              <img src="/images/partner-17.png"></td>
          </tr>
        </table>

      </div>
    </div>