<div id="content">
      <div id="content-1">
        <h3>無限可能，攜手共創</h3>
        <p>
          龍全控股多年來致力於開發研究新產品，提升企業識別，將產品價值最大化，擁有可適性交直流溫控系統專利，長期在電子業界的實務經驗使龍全控股具備 OEM/ ODM/ OBM 專業 能力。
        </p>
      </div>
      <div id="content-2">
        <div class="box">
          <img src="/images/partner-13.jpg">
          <p>
            自有品牌 KYUWA 主打直流低伏特科技，安全穩定且經濟實惠的電熱產品，擁有不限於季節的電熱產品且持續開發新品及各種款式，提供有別於市場之電熱產品。
          </p>
        </div>
        <div class="box">
          <img src="/images/partner-14.jpg">
          <p>
            針對市場上多元的需求，龍全控股能以專業技術結合跨產業應用，設計適合的解決方案，以客製化方式，協助擁有適合您的產品，拓展市場。
          </p>
        </div>
        <div class="box">
          <img src="/images/partner-15.jpg">
          <p>
            龍全控股擁有專業生產加工之生產環境及設備，如自動化 SMT AI ，DIP 外掛程式組裝等技術服務，謹慎的製造過程與人員管理，提供安心無慮的合作關係。
          </p>
        </div>
      </div>
      <div id="content-3">
        龍全控股不斷地積極創造實用價值並結合創意，打造產品獨特性
        <br>和您一同攜手開創新商機及客群。</div>
      <div id="content-4">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="158" align="center">
              <img src="/images/p-01.jpg">
              <br>
              <span>AI 立臥式插件設備</span>
            </td>
            <td align="center">
              <img src="/images/p-02.jpg">
              <br>
              <span>作業環境</span>
            </td>
            <td width="158" align="center">
              <img src="/images/p-03.jpg">
              <br>
              <span>SMT 高速貼片設備</span>
            </td>
          </tr>
        </table>
      </div>
      <div id="content-5">
        <h3>合作夥伴</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <img src="/images/partner-01.png"></td>
            <td align="center">
              <img src="/images/partner-17.png"></td>
          </tr>
        </table>

      </div>
    </div>