<div id="content">
  <div id="content-1">
    <h3>无限可能，携手共创</h3>
    <p>
      龙全控股多年来致力於开发研究新产品，提升企业识别，将产品价值最大化，拥有可适性交直流温控系统专利，长期在电子业界的实务经验使龙全控股具备 OEM/ ODM/ OBM 专业 能力。
    </p>
  </div>
  <div id="content-2">
    <div class="box">
      <img src="/images/partner-13.jpg">
      <p>
        自有品牌 KYUWA 主打直流低伏特科技，安全稳定且经济实惠的电热产品，拥有不限於季节的电热产品且持续开发新品及各种款式，提供有别於市场之电热产品。
      </p>
    </div>
    <div class="box">
      <img src="/images/partner-14.jpg">
      <p>
        针对市场上多元的需求，龙全控股能以专业技术结合跨产业应用，设计适合的解决方案，以客制化方式，协助拥有适合您的产品，拓展市场。
      </p>
    </div>
    <div class="box">
      <img src="/images/partner-15.jpg">
      <p>
        龙全控股拥有专业生产加工之生产环境及设备，如自动化 SMT AI ，DIP 外挂程式组装等技术服务，谨慎的制造过程与人员管理，提供安心无虑的合作关系。
      </p>
    </div>
  </div>
  <div id="content-3">
    龙全控股不断地积极创造实用价值并结合创意，打造产品独特性
    <br>和您一同携手开创新商机及客群。</div>
  <div id="content-4">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="158" align="center" valign="top">
          <img src="/images/p-01.jpg">
          <br>
          <span>AI 立卧式插件设备</span>
        </td>
        <td align="center" valign="top">
          <img src="/images/p-02.jpg">
          <br>
          <span>作业环境</span>
        </td>
        <td width="158" align="center" valign="top">
          <img src="/images/p-03.jpg">
          <br>
          <span>SMT 高速贴片设备</span>
        </td>
      </tr>
      <tr>
        <td align="center"><img src="/images/p-04.jpg"><br>
          <span>DIP 生產組裝線</span>
        </td>
        <td align="center"><img src="/images/p-05.jpg"><br><span>PCB 生產組裝線</span></td>
        <td align="center"><img src="/images/p-06.jpg"><br><span>紅光科技</span></td>
      </tr>
    </table>
  </div>
  <div id="content-5">
    <h3>合作夥伴</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <img src="/images/partner-01.png"></td>
        <td align="center">
          <img src="/images/partner-17.png"></td>
      </tr>
    </table>

  </div>
</div>