@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */

/* line 2, ../../../app/assets/stylesheets/application/style.css.scss */
body {
  width: 100%;
  font: 300 14px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.7em;
}

/* line 3, ../../../app/assets/stylesheets/application/style.css.scss */
section {
  width: 1024px;
  margin: 0 auto;
}

/* line 4, ../../../app/assets/stylesheets/application/style.css.scss */
a {
  font: 300 14px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-decoration: none;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
}

/* line 7, ../../../app/assets/stylesheets/application/style.css.scss */
header {
  min-width: 1024px;
  background: url(/assets/index-top-bg.jpg) 0 0 repeat-x;
  box-shadow: 0 3px 3px #aaa;
  position: relative;
  z-index: 2;
}

/* line 8, ../../../app/assets/stylesheets/application/style.css.scss */
header section {
  background: url(/assets/index-top.jpg) 0 0 no-repeat;
  height: 70px;
  padding: 0 20px;
  overflow: hidden;
}

/* line 10, ../../../app/assets/stylesheets/application/style.css.scss */
h1 {
  float: left;
  width: 40%;
  padding: 12px 0 0 0;
}

/* line 11, ../../../app/assets/stylesheets/application/style.css.scss */
h1 a {
  display: block;
  width: 180px;
  height: 49px;
  background: url(/assets/h1.png);
  text-indent: -7777px;
}

/* line 12, ../../../app/assets/stylesheets/application/style.css.scss */
nav {
  float: right;
  width: 60%;
  padding: 27px 0 0 0;
}

/* line 13, ../../../app/assets/stylesheets/application/style.css.scss */
nav ul {
  overflow: hidden;
}

/* line 14, ../../../app/assets/stylesheets/application/style.css.scss */
nav li {
  float: left;
  color: #fff;
  margin: 0 25px;
}

/* line 15, ../../../app/assets/stylesheets/application/style.css.scss */
nav a {
  color: #fff;
  font: 900 16px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* line 16, ../../../app/assets/stylesheets/application/style.css.scss */
nav a:hover {
  color: #FFEF1B;
}

/* line 17, ../../../app/assets/stylesheets/application/style.css.scss */
#lang a {
  font: 900 12px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* line 19, ../../../app/assets/stylesheets/application/style.css.scss */
article {
  min-width: 1024px;
  background: url(/assets/article-bg.jpg) center 0 no-repeat #faf4e6;
  padding: 0 0 65px 0;
}

/* line 20, ../../../app/assets/stylesheets/application/style.css.scss */
.banner {
  height: 205px;
  padding: 135px 0 0 33px;
}

/* line 21, ../../../app/assets/stylesheets/application/style.css.scss */
.bread {
  color: #fe7300;
  font-size: 16px;
}

/* line 22, ../../../app/assets/stylesheets/application/style.css.scss */
.bread a {
  color: #fe7300;
  font-size: 16px;
}

/* line 23, ../../../app/assets/stylesheets/application/style.css.scss */
.bread a:hover {
  text-decoration: underline;
}

/* line 24, ../../../app/assets/stylesheets/application/style.css.scss */
#content h3 {
  color: #ce0021;
  font: 300 32px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-shadow: 0 1px 0 #fff;
  padding: 0 0 10px 0;
}

/* line 26, ../../../app/assets/stylesheets/application/style.css.scss */
aside {
  min-width: 1024px;
  background: url(/assets/index-footer-bg.jpg) 0 top repeat-x;
}

/* line 27, ../../../app/assets/stylesheets/application/style.css.scss */
aside section {
  height: 211px;
  overflow: hidden;
  background: url(/assets/index-footer-bg2.jpg) center 0 no-repeat;
  padding: 25px 0 0 0;
}

/* line 28, ../../../app/assets/stylesheets/application/style.css.scss */
aside .info {
  width: 32%;
  float: left;
  color: #fff;
}

/* line 29, ../../../app/assets/stylesheets/application/style.css.scss */
aside strong {
  font-weight: 900;
}

/* line 30, ../../../app/assets/stylesheets/application/style.css.scss */
aside a {
  color: #ffe300;
}

/* line 31, ../../../app/assets/stylesheets/application/style.css.scss */
aside a:hover {
  text-decoration: underline;
}

/* line 33, ../../../app/assets/stylesheets/application/style.css.scss */
footer {
  min-width: 1024px;
  background: url(/assets/index-footer-bg.jpg) 0 bottom repeat-x;
}

/* line 34, ../../../app/assets/stylesheets/application/style.css.scss */
footer section {
  height: 88px;
  border-top: 1px solid #5084A4;
  color: #fff;
  padding: 10px;
}

/* line 1, ../../../app/assets/stylesheets/application/contact.css.scss */
#content {
  padding: 0 33px;
}

/* line 2, ../../../app/assets/stylesheets/application/contact.css.scss */
#content p {
  padding: 10px 0;
  font: 300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.7em;
  width: 62%;
}

/* line 4, ../../../app/assets/stylesheets/application/contact.css.scss */
#content strong {
  font: 700 22px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #01426b;
  text-shadow: 0 1px 0 #fff;
}

/* line 5, ../../../app/assets/stylesheets/application/contact.css.scss */
#content a {
  color: #fe7d21;
  text-decoration: underline;
}

/* line 6, ../../../app/assets/stylesheets/application/contact.css.scss */
#content a:hover {
  text-decoration: none;
}
