@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*---全域背景---*/
/* line 3, ../../../app/assets/stylesheets/admin/custom.css.scss */
html {
  background: #F6EFDF;
}

/*---上方列---*/
/* line 6, ../../../app/assets/stylesheets/admin/custom.css.scss */
header {
  background: #071F37;
  border-color: #fff;
}

/*---標題---*/
/* line 9, ../../../app/assets/stylesheets/admin/custom.css.scss */
h1 a {
  text-shadow: 0 1px 0 #000B26;
}

/*---內容邊框---*/
/* line 12, ../../../app/assets/stylesheets/admin/custom.css.scss */
article {
  border: 1px solid #D7D0AC;
}

/*---頁腳---*/
/* line 15, ../../../app/assets/stylesheets/admin/custom.css.scss */
footer {
  color: #675E32;
  text-shadow: 0 1px 0 #fff;
}

/* line 16, ../../../app/assets/stylesheets/admin/custom.css.scss */
footer a {
  color: #675E32;
  text-shadow: 0 1px 0 #fff;
}

/*-----------------------------------------------------------------------內容---*/
@media screen and (max-width: 543px) {
  /* line 21, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #nav-ctrl, aside {
    background: #133A63;
    border: 1px solid #03172A;
  }

  /* line 22, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #nav-ctrl:hover, aside:hover {
    background: #1A426B;
  }

  /* line 23, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #nav-ctrl:active, aside:active {
    background: #1A426B;
  }
}
@media screen and (min-width: 544px) and (max-width: 896px) {
  /* line 27, ../../../app/assets/stylesheets/admin/custom.css.scss */
  nav .active a {
    border-color: #D7D0AC;
  }

  /* line 28, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #aside-box a {
    border: 1px solid #03172A;
    background: #133A63;
    color: #ccc;
  }

  /* line 29, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #aside-box a:hover {
    background: #1A426B;
    color: #fff;
  }

  /* line 30, ../../../app/assets/stylesheets/admin/custom.css.scss */
  nav li a {
    color: #675E32;
    text-shadow: 0 1px 0 #fff;
  }
}
@media screen and (min-width: 897px) {
  /* line 34, ../../../app/assets/stylesheets/admin/custom.css.scss */
  nav .active a {
    border-color: #D7D0AC;
  }

  /* line 35, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #aside-box a {
    border: 1px solid #03172A;
    background: #133A63;
    color: #ccc;
  }

  /* line 36, ../../../app/assets/stylesheets/admin/custom.css.scss */
  #aside-box a:hover {
    background: #1A426B;
    color: #fff;
  }

  /* line 37, ../../../app/assets/stylesheets/admin/custom.css.scss */
  nav li a {
    color: #675E32;
    text-shadow: 0 1px 0 #fff;
  }
}
