@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*-----------------------------------------------------------------------頁首---*/
/* line 3, ../../../app/assets/stylesheets/admin/tablet.css.scss */
#nav-ctrl, #aside-ctrl {
  display: none;
}

/* line 5, ../../../app/assets/stylesheets/admin/tablet.css.scss */
#top .left {
  float: left;
  width: 50%;
}

/* line 6, ../../../app/assets/stylesheets/admin/tablet.css.scss */
h1 {
  margin: 0 15px 0 0;
}

/* line 8, ../../../app/assets/stylesheets/admin/tablet.css.scss */
aside {
  float: right;
  text-align: right;
  width: 50%;
  padding: 8px 0 0 0;
}

/* line 10, ../../../app/assets/stylesheets/admin/tablet.css.scss */
#aside-box a {
  border: 1px solid #2B4680;
  border-radius: 5px;
  background: #4B67A1;
  text-align: center;
  padding: 5px 10px;
  height: 30px;
  margin-left: 5px;
  font-size: 1em;
}

/* line 11, ../../../app/assets/stylesheets/admin/tablet.css.scss */
#aside-box a:hover {
  background: #2B4680;
}

/*-----------------------------------------------------------------------內容---*/
/* line 15, ../../../app/assets/stylesheets/admin/tablet.css.scss */
#main {
  padding: 10px;
}

/* line 17, ../../../app/assets/stylesheets/admin/tablet.css.scss */
article {
  float: right;
  padding: 10px;
  width: 86%;
  border-radius: 5px;
}

/* line 18, ../../../app/assets/stylesheets/admin/tablet.css.scss */
article section {
  margin: 0 0 10px 0;
}

/*-----------------------------------------------------------------------側欄---*/
/* line 22, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav {
  float: left;
  width: 14%;
  text-align: center;
  position: relative;
  z-index: 3;
  left: 3px;
}

/* line 23, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav li {
  height: 100px;
}

/* line 24, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav li a {
  background-position: center 25px;
  border-radius: 5px 0 0 5px;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  padding: 62px 0 0 0;
}

/* line 26, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 27, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav .active a {
  background-color: #fff;
  color: #152529 !important;
  text-shadow: 0 1px 0 #eeeeee !important;
  border: 1px solid #C4CDE0;
  border-right: 1px solid white !important;
}

/* line 28, ../../../app/assets/stylesheets/admin/tablet.css.scss */
nav .active:hover a {
  background-color: #fff;
}

/*-----------------------------------------------------------------------列表---*/
/* line 32, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.list .x2 {
  width: 18%;
}

/* line 33, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.list .x1 {
  width: 9%;
}

/*-----------------------------------------------------------------------欄位---*/
/* line 37, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.text .quarter {
  width: 33%;
}

/* line 38, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.text .remainder {
  width: 67%;
}

/* line 39, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.text .three {
  width: 50%;
}

/* line 40, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.text .half {
  width: 50%;
}

/*-----------------------------------------------------------------------頁腳---*/
/* line 44, ../../../app/assets/stylesheets/admin/tablet.css.scss */
footer {
  text-align: center;
  padding: 0px 0 10px 14%;
}

/*-----------------------------------------------------------------------登入---*/
/* line 48, ../../../app/assets/stylesheets/admin/tablet.css.scss */
.login article {
  width: 80%;
  padding: 20px;
  height: 210px;
}
