/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* line 1, ../../../app/assets/stylesheets/application/zh_TW_titleimg.css.scss */
#intro {
  width: 1001px;
  height: 160px;
  background: url(/assets/index-intro.png);
  position: relative;
  top: -8px;
  left: 10px;
  z-index: 2;
}

/* line 3, ../../../app/assets/stylesheets/application/zh_TW_titleimg.css.scss */
#banner_series {
  background: url(/assets/series-banner.jpg) 0 0 no-repeat;
  height: 205px;
  padding: 135px 0 0 33px;
}

/* line 4, ../../../app/assets/stylesheets/application/zh_TW_titleimg.css.scss */
#banner_about {
  background: url(/assets/about-banner.jpg) 0 0 no-repeat;
}

/* line 5, ../../../app/assets/stylesheets/application/zh_TW_titleimg.css.scss */
#banner_contact {
  background: url(/assets/contact-banner.jpg) 0 0 no-repeat;
}

/* line 6, ../../../app/assets/stylesheets/application/zh_TW_titleimg.css.scss */
#banner_partner {
  background: url(/assets/partner-banner.jpg) 0 0 no-repeat;
}
