<article _height="auto">
  <section>
    <div id="banner">
      <div class="bread"><a href="/<%= I18n.locale %>"><%= t("bread.index") %></a> > <%= t("bread.about") %></div>
    </div>
    <%= render :partial => 'staticpage/content/'+I18n.locale.to_s %>
    
  </section>
</article>
<script type="text/javascript">
$(document).ready(function(){
	$("header").attr("_height", "none");
	$("aside").attr("_height", "none");
	$("footer").attr("_height", "none");
});

</script>