<article _height="auto">
  <section>
  	<div id="banner">
  		<div class="bread"><a href="/<%= I18n.locale %>">首頁</a> > 關於龍全</div>
  	</div>
  	<div id="content">
  		<p>龍全控股成立於2004年，多年來鑽研於電子設計領域，掌握核心發熱技術，
  			突破業界瓶頸，開發出於零下40℃仍能正常發熱的革命性產品；以OEM/ODM/
  			OBM服務型態，龍全控股致力於累積創新想法及專業技術，為客戶設計出適合
  			不同產品、各種應用的發熱解決方案，攜手開創發熱新商機，服務廣大客群，
  			將一分溫暖帶給所有使用者。<br>
  			<br>
  			未來龍全控股將持續提升技術與機構整合能力，改變世界對發熱產品的想像
  			力，與您一同領導潮流、創造市場，誠摯歡迎您隨時與我們聯絡。<br>
  			<br>
  			經營理念<br>
  			關懷、了解，進而滿足人與社會的需求，是龍全控股的核心經營精神；以此精
  			神龍全努力鑽研技術，創新發展，進而達成永續經營的目標。<br>
  			<br>
  			社會關懷<br>
  			我們相信企業是社會的一部分，時時關懷、回饋社會亦是我們的使命之一。<br>
  			<br>
  			道德責任<br>
  			所有勞工權益均符合當地法規，並力求符合SA8000標準：<br>
  			• 提供安全健康的工作環境<br>
  			• 薪資不低於法律或行業最低標準<br>
  			• 不使用強迫勞動<br>
  			• 不僱用童工<br>
  			• 不歧視種族、宗教、膚色、國籍、性別<br>
  			• 不使用懲戒性措施<br>
  			<br>
  			公司基本資料：<br>
  			成立時間：2004年<br>
  			資本額：美金500萬元<br>
  			員工人數：400人<br>
  			製造與研發據點：東莞、蘇州、台灣<br>
  			<br>
  			優質製程管理<br>
  			<br>
  			專業一貫化生產線
  		</p>
  	</div>
  </section>
</article>
<script type="text/javascript">
$(document).ready(function(){
	$("header").attr("_height", "none");
	$("aside").attr("_height", "none");
	$("footer").attr("_height", "none");
});

</script>