<%= stylesheet_link_tag "about", :media => "all" %>
<div id="container" _height="auto">
	<div id="top">
		<h2>關於榮騰</h2> 
	</div>
	<!--top-->
	<div id="content"  _height="auto">
		<h3>健康、美味，都在榮騰農產發酵</h3>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
    <td colspan="4" height="40">&nbsp;</td>
    </tr>
  <tr>
    <td width="56%" valign="top">　　以健康為己任的榮騰農產，堅持提供既健康又美味的頂級食材，讓國人能吃得安心。 <br />
<br />
　　因為相信「種瓜得瓜，種豆得豆」的道理，榮騰堅持在所有細節採最進步的飼育方式及科學化管理，用心照顧家畜成長，以換得健康美味、無毒無害，讓國人安心的食材。<br />
<br />
　　以掛川完熟酵母豚為例，榮騰遠赴海外與日本掛川酵母株式會社進行技術合作，從製作天然酵母發酵熟成的優質飼料到飼育家畜，全由榮騰嚴格把關，只為飼育出健康、充滿活力的家畜；因為健康，自然不用施打藥劑，充滿活力，肉的口感才會細緻、好吃。<br />
<br />
　　未來，榮騰將以嚴謹的態度持續創新，為您細心發掘更多健康美味食材，不只滿足味蕾，也讓您的生活更有味道。 </td>
    <td width="1%">&nbsp;</td>
    <td width="43%" align="left" valign="top">
    <iframe width="310" height="233" src="http://www.youtube.com/embed/43AFeICEX5Y?rel=0" frameborder="0" allowfullscreen></iframe><br />
    <strong>[ 影片觀看 ]</strong>

    </td>
    
  </tr>
</table>
		<p><br /></p>
	</div>
    <!--content-->
</div>
<!--container-->

<script type="text/javascript">
$("#banner ul li").eq(0).addClass("select");
</script>