<article _height="auto">
  <section>
    <div id="banner_contact" class="banner">
      <div class="bread">
        <a href="/<%= I18n.locale %>
          ">
          <%= t("bread.index") %></a>
        >
        <%= t("bread.contact") %></div>
    </div>
    <%= render :partial => 'staticpage/contact/'+I18n.locale.to_s %>
  </section>
</article>

<script type="text/javascript">
  //江蘇的
    var map = new AliMap("mapDiv"); //使用id为mapDiv的层创建一个地图对象
    map.centerAndZoom(new AliLatLng(31.551696,120.840619),14);//显示地图
    var latlng = new AliLatLng(31.552096,120.840000); //在该坐标处创建一个标记 
    var marker = new AliMarker(latlng); //将该标记添加到地图 
    var control = new AliMapLargeControl({hidePanBtn:false,hideZoomBtn:false,hideZoomBar:false});
    map.addOverlay(marker); 
    map.addControl(control);
</script>