<article _height="auto">
  <section>
    <div id="banner">
      <div class="bread"><a href="/<%= I18n.locale %>">首頁</a> > 聯絡我們</div>
    </div>
    <div id="content">
      <h3>歡迎各行業合作，將商機最大化</h3>
      <p>感謝您拜訪龍全，如果您想進一步瞭解龍全的產品或服務資訊，或對龍全有任何問題與建議，誠摯歡迎您透過聯絡資訊與我們溝通。或可使用線上訪客留言方式，我們將用最快的速度，完成對您的服務
      </p>
      
    </div>
  </section>
</article>
<script type="text/javascript">
$(document).ready(function(){
  $("header").attr("_height", "none");
  $("aside").attr("_height", "none");
  $("footer").attr("_height", "none");
});

</script>