<div id="vert">
<div id="intro">
  <div class="flower" id="f1"><img src="/images/f1.png"/></div>
  <div class="flower" id="f2"><img src="/images/f2.png"/></div>
  <div class="flower" id="f3"><img src="/images/f3.png"/></div>
  <a id="skip" href="/home">[ SKIP ]</a>
  <div id="logo"><img src="/images/logo.png"/></div>
  <div class="text" id="t1"> </div>
  <div class="text" id="t2"> </div>
</div><!--intro-->
</div>