<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>龍全</title>
  <%= csrf_meta_tags %>
</head>

<body>
<div>index</div>
<% if(@indexlinks.blank?) %>
<p>尚未建立輪播</p>
<% else %>
<ul>
	<% @indexlinks.each do |indexlink| %>
	<li>
		<%=image_tag(indexlink.image, :width=>"100px") %>&nbsp;<a href="<%= indexlink.link %>" target= "_blank"><%= indexlink.title %></a>
	</li>
	<% end %>
</ul>
<% end %>
</body>
</html>