<article>
  <section>
    <div id="banner">
      <div class="bread"><a href="/<%= I18n.locale %>">首頁</a> > 合作夥伴</div>
    </div>
    <div id="content">
      <h3>行業的界定永遠不會阻礙我們的合作<br>
        機會無所不在</h3>
      <p>不只是市面上首屈一指的發熱產品專家，極地暖更以創新想法設計出適合各種產品、各種應用的發熱解決方案，同時兼具創意與實用價值，與您一同開展發熱市場無限商機。</p>
      <div id="logo">
        <table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%" align="center" valign="middle" height="160"><img src="/images/partner-01.png" width="139" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-02.png" width="140" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-03.png" width="140" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-04.png" width="139" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-05.png" width="139" height="140"></td>
          </tr>
          <tr>
            <td align="center" valign="middle" height="160"><img src="/images/partner-06.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-07.png" width="140" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-08.png" width="140" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-09.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-10.png" width="139" height="140"></td>
          </tr>
          <tr>
            <td align="center" valign="middle" height="160"><img src="/images/partner-11.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-12.png" width="140" height="140"></td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</article>