<% if params[:locale] == "en" %>
<style>
#content-2 .box{padding:0 30px;float:left;width:100%;text-align:center;margin:25px 0;text-align:left}
#content-2 .box img{float:left}
#content-2 .box p{float:right;width:80%;font-size:14px}
</style>
<% end %>

<article>
  <section>
    <div id="banner_partner" class="banner">
      <div class="bread">
        <a href="/<%= I18n.locale %>
          ">
          <%= t("bread.index") %></a>
        >
        <%= t("bread.partner") %></div>
    </div>
    <%= render :partial => 'staticpage/partner/'+I18n.locale.to_s %>
    
  </section>
</article>