<%= stylesheet_link_tag "product", :media => "all" %>
<div id="container" _height="auto">
    <div id="top">
      <h2>產品介紹</h2>
      <ul id="nav">
        <li style="border:none"><a href="#pd-01">頂級五花肉火鍋片</a></li>
        <li><a href="#pd-02">頂級梅花肉火鍋片</a></li>
        <li><a href="#pd-03">頂級里肌肉厚排</a></li>
        <li><a href="#pd-04">頂級炒肉片</a></li>
        <li><a href="#pd-05">頂級松阪肉燒烤片</a></li>
        <li><a href="#pd-06">頂級腰內肉燒烤片</a></li>
        <li><a href="#pd-07">頂級二層肉燒烤片</a></li>
      </ul>
    </div>
    <!--top-->
    <div id="content"  _height="auto">
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="pd-01">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td align="right"><img src="images/pd-h3-5.png" width="377" height="108" />
              <p>選自豬肉腹部，因肥瘦交替具有層次，又被稱為三層肉，掛川酵母飼育而成的五花肉油脂豐富風味佳，是火鍋、燒烤的高檔食材，傳說中最極品的五花肉肥瘦相間十層以上，千萬別在餐桌上算它有幾層，因為其他人的筷子可不會等你。 </p></td>
            <td align="right"><img src="images/pd-05.jpg" width="312" height="233" /></td>
          </tr>
          <tr id="pd-02">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td width="52%" align="right"><img src="images/pd-h3-4.png" width="377" height="107" />
              <p>不像五花油脂多、里肌瘦，肥瘦各半的的梅花肉肉質鮮嫩，因花紋貌似梅花點點而得其名，由掛川酵母培育出的花紋較一般梅花肉更美，不像梅花越冷才開花，它專在火鍋、燒烤中綻放光采。 </p></td>
            <td width="48%" align="right"><img src="images/pd-04.jpg" width="312" height="233" /></td>
          </tr>
          <tr>
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="pd-03">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td width="49%"><img src="images/pd-06.jpg" width="312" height="233" /></td>
            <td width="51%"><img src="images/pd-h3-6.png" width="377" height="107" />
              <p>選自背脊偏後腿部位的瘦肉，形狀長條完整，在掛川酵母加持下，肉質相當紮實有嚼勁，形狀和紋理工整，適合切片醃製後，裹粉以油炸或油煎作成豬排的方式來料理，咔滋咔滋聽覺、味覺的雙重享受，讓人還想再多添一碗飯。 </p></td>
          </tr>
          <tr id="pd-04">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-07.jpg" width="312" height="233" /></td>
            <td><img src="images/pd-h3-7.png" width="377" height="108" />
              <p>健康脂肪少，適合均勻切成片狀，或細心煎烤，或佐以蔥蒜大火快炒即可上桌，由掛川酵母飼育而成，安心健康又美味，是最方便料理的國民食材，媽媽們的好夥伴。 </p></td>
          </tr>
          <tr id="pd-05">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-02.jpg" width="312" height="234" /></td>
            <td><img src="images/pd-h3-2.png" width="377" height="110" />
              <p>一隻豬僅有兩片，極為珍貴，又稱「黃金六兩肉」、「霜降豬肉」，位於豬脖子兩側，油花分布均勻，堪稱肉中極品；在掛川酵母催化下，會如霜般在舌尖融化，燒烤時只需灑上少許鹽巴，只留天然香甜及清脆口感。 </p></td>
          </tr>
          <tr id="pd-06">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td width="51%"><img src="images/pd-01.jpg" width="312" height="233" /></td>
            <td width="49%"><img src="images/pd-h3-1.png" width="377" height="107" />
              <p>有「豬肉中的菲力」之稱，又稱「小里肌肉」；油脂含量少、熱量低，肉味較平淡，但掛川酵母所培育出的腰內肉，不只在風味上提升了香甜，其軟嫩口感更是前所未見。</p></td>
          </tr>
          <tr id="pd-07">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-03.jpg" width="312" height="233" /></td>
            <td><img src="images/pd-h3-3.png" width="377" height="107" />
              <p>又稱僧帽肌的二層肉也有「霜降豬肉」美名，覆蓋在里脊肉的前端，一頭豬只有小小的兩片，由於肉質鮮甜多汁，與松阪肉同珍品，口感各擅勝場，掛川酵母飼育出的二層肉不只軟嫩且彈牙，保證讓味蕾陷入溫柔鄉。 </p></td>
          </tr>
          <tr>
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <!--content--> 
  </div>


<script type="text/javascript">
$(function(){
	var $win = $(window).scroll(function(){
		if($win.scrollTop() >= 126){
			$('#nav').css({
			position:'fixed',
			top:0,
			'margin-left':'53px'
			})
		} 
		else {
			$('#nav').css("position","static")
		}
	});
});
</script>
<script>
$(document).ready(function() {
	$('#nav li').click(function(){			
		$(this).addClass('select').siblings().removeClass('select')
 	});
 	$("#banner ul li").eq(2).addClass("select");
})
</script>