<%= stylesheet_link_tag "tech", :media => "all" %>
<div id="container" _height="auto">
    <div id="top">
      <h2>產品介紹</h2>
      <!--ul id="nav">
        <li style="border:none"><a href="#tn-01">完　熟</a></li>
        <li><a href="#tn-02">掛川酵母發酵飼料</a></li>
        <li><a href="#tn-03">安　全</a></li>
        <li><a href="#tn-04">安　心</a></li>
        <li><a href="#tn-05">健　康</a></li>
        <li><a href="#tn-06">中央畜產會產品檢驗報告</a></li>
      </ul-->
    </div>
    <!--top-->
    <div id="content"  _height="auto">
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="tn-01">
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
          <tr>
            <td width="35%"><img src="/images/tn-01.png" width="215" height="126" /></td>
            <td width="65%"><h3 style="background:url(images/tn-h3.png) center 3px no-repeat;width:210px;height:58px;padding:0 0 0 17px">常態飼育成長之後<br />
                <strong>接續展開熟成肥育</strong></h3>
              <p>「掛川完熟酵母豚」在經過常態肥育成長後，會再投入經過黃金 10 天發酵低熱量、
                低蛋白的掛川酵母發酵飼料，進行五週以上的熟成肥育。
                用這種方式培育出的掛川完熟酵母豚，肉質美味加倍，呈現前所未有的新口感。</p></td>
          </tr>
          <tr>
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <!--article-->
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="tn-02">
            <td colspan="3" height="10" >&nbsp;</td>
          </tr>
          <tr>
            <td width="49%"><h3><strong>生產不添加化學藥物及成長激素</strong>、<br />
              安全又美味的肉品，<br />
              飼育出健康且生長力豐沛的豬隻。</h3>
              <p>全力投入此研發課題的結果，我們發現了「掛川酵母菌」<span>( 註冊名稱：Saccharomyces Cerevisiae Kakegawa 菌株 )</span> 酵母菌是發酵食材中所不可缺少的發酵菌種，而利用酵母菌發酵熟成的飼料，能培育出「充滿活力且健康」的家畜。而「掛川酵母菌」正是一種能夠徹底發揮發酵菌優點的酵母菌。</p>
              <p><img src="/images/ab-01.jpg" />　　<img src="/images/ab-02.jpg" /></p></td>
            <td width="4%">&nbsp;</td>
            <td width="47%" valign="top"><img src="/images/tn-02.png" width="356" height="107" />
              <p> 將掛川酵母菌加入穀物中後，將產生猶如「葡萄酒發酵」，最後形成經過殺菌、氨基酸化的優質「掛川酵母發酵飼料」。
                掛川酵母發酵飼料內含酒精成分，氣味芳香、營養易吸收，還能促進血液循環、讓豬隻健康成長而不會造成負擔，因此能飼育出兼具<br />
            優良肉質、脂質的肉品。</p><p><br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <span>專利編號：3950767<br />
發明名稱：有機發酵飼料化所使用之發酵酵母及使用該酵母之有機發酵飼料化方法<br />
發明者：掛川 庸夫</span>
</p></td>
          </tr>
          <tr>
            <td colspan="3" height="10" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <!--article--> 
      <div class="article">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
          
          <tr>
            <td width="28%">&nbsp;</td>
            <td width="72%" style="border-left:1px solid #7F7F7F;padding:0 0 0 20px"><p><strong>安全</strong> [ 健康無藥物肥育 ]<br />
              掛川完熟酵母豚只使用經過殺菌的酵母發酵飼料<br />
              進行肥育＊，完全不使用抗生素及任何藥物。 <br />
            <span>＊「催肥飼育」：離乳後投以穀物飼料的肥育期間。</span></p>
            
            <p><strong>安心 </strong>[ 從製作飼料到飼育作業的一貫化生產系統 ]<br />
              掛川完熟酵母豚的培育，從製作酵母發酵飼料，<br />
              到飼育豬隻，
全由本公司負責一貫化生產。</p>

<p><strong>健康</strong> [ 豐富的植物性脂肪 ]<br />

優良的脂質引出嶄新的美味投入掛川酵母發酵飼料進行催肥飼育的<br />
豬隻，動物性脂肪值較低，卻含有較高的「植物性脂肪值」。此外<br />
還含有高濃度不飽和脂肪酸，因而形成健康甘醇的脂質。</p></td>
          </tr>
          <tr>
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <!--article--> 
      <div class="article">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><h3>中央畜產會產品檢驗報告</h3></td>
          </tr>
          <tr>
            <td width="54%"><img src="/images/tn-03.png" width="350" height="503" /></td>
            <td width="46%"><img src="/images/tn-04.png" width="350" height="503" /></td>
          </tr>
          <tr>
            <td colspan="2" height="10" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <!--article-->
    </div>
    <!--content--> 
    <div id="dcr-1" class="dcr"></div>
    <div id="dcr-2" class="dcr"></div>
    <div id="dcr-3" class="dcr"></div>
  </div>
  <!--container-->
<script type="text/javascript">
$("#banner ul li").eq(1).addClass("select");
</script>