@charset "UTF-8";
/* line 1, ../../../app/assets/stylesheets/application/about.css.scss */
#content {
  padding: 0 33px;
  position: relative;
}

/* line 2, ../../../app/assets/stylesheets/application/about.css.scss */
#content p {
  padding: 10px 0;
  font: 300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.7em;
  width: 62%;
}

/* line 4, ../../../app/assets/stylesheets/application/about.css.scss */
#boss {
  position: absolute;
  right: 0px;
  top: 565px;
}
