@charset "UTF-8";
/* line 1, ../../../app/assets/stylesheets/application/contact.css.scss */
#content {
  padding: 0 33px;
}

/* line 2, ../../../app/assets/stylesheets/application/contact.css.scss */
#content p {
  padding: 10px 0;
  font: 300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.7em;
  width: 62%;
}

/* line 4, ../../../app/assets/stylesheets/application/contact.css.scss */
#content strong {
  font: 700 22px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #01426b;
  text-shadow: 0 1px 0 #fff;
}

/* line 5, ../../../app/assets/stylesheets/application/contact.css.scss */
#content a {
  color: #fe7d21;
  text-decoration: underline;
}

/* line 6, ../../../app/assets/stylesheets/application/contact.css.scss */
#content a:hover {
  text-decoration: none;
}
