@charset "UTF-8";
/* line 1, ../../../app/assets/stylesheets/application/partner.css.scss */
#content {
  padding: 0 33px;
}

/* line 2, ../../../app/assets/stylesheets/application/partner.css.scss */
#content p {
  padding: 10px 0;
  font: 300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.7em;
  width: 62%;
}

/* line 4, ../../../app/assets/stylesheets/application/partner.css.scss */
#logo {
  width: 800px;
  margin: 55px auto 0 auto;
}
