/* line 1, ../../../app/assets/stylesheets/application/slide-en.css.scss */
#slider .more {
  display: block;
  width: 144px;
  height: 37px;
  background: url(/assets/index-banner-more-en.png);
  text-indent: -77777px;
  position: absolute;
  bottom: 20px;
  right: 355px;
  font-size: 0%;
}

/* line 2, ../../../app/assets/stylesheets/application/slide-en.css.scss */
#slider .more:hover {
  background: url(/assets/index-banner-more-h-en.png);
}
