<div id="content" style="background:url(/assets/about-01.png) 540px 583px no-repeat">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="53%" valign="bottom">
        <p>
          Versatile Dragon was established in 2004, and has for the past <br>years, focused on development in the field of electronics design.<br> Our current possession of a core heating technology has <br>provided a breakthrough in this field: a revolutionary product that <br>continues to produce heat at -40°C ambient temperature. <br>Providing OEM/ODM/OBM services, Versatile Dragon continues <br>to accumulate innovations and new technologies to help clients <br>develop a variety of products to solve their heating needs.<br> Working together with clients, Versatile Dragon aims to develop<br> the heated products market and expand its services to a larger<br> customer base, providing warmth to each and every end-user.
          <br>
          <br>
          In the future, Versatile Dragon will continue to advance and<br> innovate current existing technologies and improve its integration<br> capabilities. To expand the horizon of heated products, we<br> would like to work with you in leading the trend and creating<br> new markets. We sincerely welcome your inquiries and advice.<br> Please contact us at any time.。
        </p>
      </td>
      <td width="18%" valign="bottom">
        <%= image_tag("/assets/en/about-03.png", :height => "206") %></td>
      <td width="29%" valign="bottom">
        <span>
          Company Information：
          <br>
          Established in 2004
          <br>
          Capital: 5 million USD
          <br>
          Employees: 400
          <br>
          Manufacturing and R&D Sites:
          <br>
          Dongguan, Suzhou, Taiwan</span>
      </td>
    </tr>
  </table>

  <hr>
  <h3>Business Philosophy</h3>
  <p style="width:480px">
    To care, understand, and satisfy the needs of people and society is the core operating
    
    philosophy of Versatile Dragon. Through this spirit, we consistently devote ourselves to
    
    the development of new technologies and innovations, to achieve our goal of building
    
    a sustainable business.
  </p>
  <h3>Social Care</h3>
  <p style="width:480px">
    We believe that corporations are a part of society. Constant care and giving back to
    
    society is one of our missions.
  </p>
  <h3>Ethical Responsibility</h3>
  <p>
    Employee rights adhere to local labor laws, and strive to meet SA8000 standards：
    <br>
    • Provision of a safe and healthy working environment
    <br>
    • Compensations match or surpass legal/industry standards
    <br>
    • No use of forced labor
    <br>
    • No use of child labor
    <br>
    • No discrimination of race, religion, ethnicity, nationality, or gender
    <br>• No punitive measures</p>
  <h3>Quality process management</h3></p>
</div>