<div id="content">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="53%" valign="bottom">
        <p>
          龍全控股成立於 2004 年，多年來鑽研於電子設計領域，掌握核心發熱
          <br>
          技術，突破業界瓶頸，開發出於零下 40℃ 仍能正常發熱的革命性產品
          <br>
          ；以 OEM/ODM/OBM 服務型態，龍全控股致力於累積創新想法及專
          <br>
          業技術，為客戶設計出適合不同產品、各種應用的發熱解決方案，攜手
          <br>
          開創發熱新商機，服務廣大客群，將一分溫暖帶給所有使用者。
          <br>
          <br>
          未來龍全控股將持續提升技術與機構整合能力，改變世界對發熱產品的
          <br>想像力，與您一同領導潮流、創造市場，誠摯歡迎您隨時與我們聯絡。</p>
      </td>
      <td width="18%" valign="bottom">
        <img src="/images/about-03.png"></td>
      <td width="29%" valign="bottom">
        <span>
          公司基本資料
          <br>
          成立時間：2004年
          <br>
          資本額：美金 500 萬元
          <br>
          員工人數： 400 人
          <br>製造與研發據點：東莞、蘇州、台灣</span>
      </td>
    </tr>
  </table>

  <hr>
  <h3>經營理念</h3>
  <p>
    關懷、了解，進而滿足人與社會的需求，是龍全控股的核心經
    <br>
    營精神；以此精神龍全努力鑽研技術，創新發展，進而達成永
    <br>續經營的目標。</p>
  <h3>社會關懷</h3>
  <p>
    我們相信企業是社會的一部分，時時關懷、回饋社會亦是我們
    <br>的使命之一。</p>
  <h3>道德責任</h3>
  <p>
    所有勞工權益均符合當地法規，並力求符合SA8000標準：
    <br>
    • 提供安全健康的工作環境
    <br>
    • 薪資不低於法律或行業最低標準
    <br>
    • 不使用強迫勞動
    <br>
    • 不僱用童工
    <br>
    • 不歧視種族、宗教、膚色、國籍、性別
    <br>• 不使用懲戒性措施</p>
  <h3>優質製程管理</h3>
  <img src="/images/about-02.png" width="991" height="441"></p>
</div>