@charset "UTF-8";
/*-----------------------------------------------------------------------頁首---*/
/* line 3, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#top a {
  display: block;
}

/* line 5, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#nav-ctrl, h1, aside {
  float: left;
}

/* line 6, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#nav-ctrl, aside {
  width: 15%;
  border: 1px solid #2B4680;
  border-radius: 5px;
  background: #4B67A1;
  text-align: center;
  padding: 6px 0 0 0;
  height: 30px;
}

/* line 7, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#nav-ctrl:hover, aside:hover {
  background: #3B5998;
}

/* line 8, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#nav-ctrl:active, aside:active {
  background: #2B4680;
}

/* line 10, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#top .left h1 {
  width: 70%;
  text-align: center;
}

/* line 12, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#aside-box {
  position: absolute;
  display: none;
  width: 150px;
  right: 10px;
  top: 40px;
  z-index: 3;
  background: url(/assets/aside.png) 113px 0 no-repeat;
  padding: 15px 0 0 0;
}

/* line 13, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#aside-box a {
  font-size: 13px;
  border-top: 1px solid #3E4555;
  border-bottom: 1px solid #232A3A;
  color: #C3CBD8;
  padding: 12px 0 0 0;
  height: 40px;
  background: #32394B;
}

/* line 14, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#aside-box a:hover {
  background: #292F3D;
}

/* line 16, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#aside-box a:first-child {
  border-radius: 5px 5px 0 0;
}

/* line 17, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#aside-box a:last-child {
  border-radius: 0 0 5px 5px;
}

/*-----------------------------------------------------------------------內容---*/
/* line 21, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#main {
  background: #32394A;
}

/* line 23, ../../../app/assets/stylesheets/admin/mobile.css.scss */
article {
  padding: 10px;
  box-shadow: 0 0 10px #000;
}

/* line 24, ../../../app/assets/stylesheets/admin/mobile.css.scss */
article section {
  margin: 0 0 10px 0;
}

/*-----------------------------------------------------------------------側欄---*/
/* line 28, ../../../app/assets/stylesheets/admin/mobile.css.scss */
nav {
  position: absolute;
  top: 50px;
  z-index: 1;
  border-bottom: 1px solid #3E4555;
}

/* line 29, ../../../app/assets/stylesheets/admin/mobile.css.scss */
nav ul {
  width: 150px;
  background: #32394A;
}

/* line 30, ../../../app/assets/stylesheets/admin/mobile.css.scss */
nav li {
  height: 75px;
}

/* line 31, ../../../app/assets/stylesheets/admin/mobile.css.scss */
nav li a {
  background-position: 20px center;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #3E4555;
  border-bottom: 1px solid #242A37;
  padding: 30px 0 0 60px;
  color: #B9C0CE;
  text-shadow: 0 1px 0 #1E232E;
}

/* line 33, ../../../app/assets/stylesheets/admin/mobile.css.scss */
nav .active a,
nav a:hover {
  background-color: #292F3D;
}

/*-----------------------------------------------------------------------列表---*/
/* line 37, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.list .x1 {
  width: 15%;
}

/* line 38, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.list .x0 {
  display: none;
}

/*-----------------------------------------------------------------------欄位---*/
/* line 42, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.text .quarter {
  width: 100%;
}

/* line 43, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.text .remainder {
  width: 100%;
}

/* line 44, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.text .three {
  width: 100%;
}

/* line 45, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.text .half {
  width: 100%;
}

/*-----------------------------------------------------------------------頁腳---*/
/* line 49, ../../../app/assets/stylesheets/admin/mobile.css.scss */
footer {
  text-align: center;
  box-shadow: inset 0 2px 10px #C3C8D9;
  padding: 10px 0;
}

/*-----------------------------------------------------------------------語言---*/
/* line 53, ../../../app/assets/stylesheets/admin/mobile.css.scss */
#lang {
  display: none;
}

/*-----------------------------------------------------------------------登入---*/
/* line 57, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.login article {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  height: 185px;
  box-shadow: none;
}

/* line 58, ../../../app/assets/stylesheets/admin/mobile.css.scss */
.login footer {
  box-shadow: none;
}
