<% if(@productclasses.size)>0 %>
<script type="text/javascript">
    window.location.href="<%= productclass_path(@productclasses.first.id, :locale => params[:locale]) %>";
</script>

<% else %>

<article>
  <section>
    <div id="banner"></div>
    <div id="main">
      <h1><%= t("productclass.noClass") %></h1>
    </div>
  </section>
</article>
<% end %>