<article>
  <section>
    <div id="banner_series"></div>
    <div id="main">
      <div id="side">
        <ul>
          <%= display_productclasses(@productclass, @productclasses).html_safe %>
        </ul>
      </div>

      <div id="content">
        <div class="bread">首頁 ＞ 產品介紹 ＞ <%= @productclass.name %></div>
        <input id="productclass_content" style="display:none;" type="text" value="<%= @productclass.content %>">
        <div id="articleContent"></div>

        <div>
          <%= display_subclasses_products(@productclass).html_safe %>
        </div>

      </div>
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {
  editor.output($("#productclass_content").val());

  $("#articleContent div").each(function(){
    $("#articleContent").append($(this).html());
    $(this).remove();
  });
});

</script>