#header{height:5000px;position:absolute;}

h2{background:image-url('od-h2.jpg') 0 0 no-repeat #221E1F;height:85px;text-indent:-9999px;border-top:40px solid #EA5504}

#nav{overflow:hidden;border-bottom:1px solid #83807F;padding:10px 0 0 0;width:825px;margin:0 auto;background:image-url('cbg.jpg') repeat}
#nav li{float:left;padding:3px 10px;border-left:1px solid #83807F}
#nav li:nth-child(1){border:0}
#nav li a{font:300 13px "新細明體";text-shadow:0 1px 0 #fff;color:#9FA0A0}
#nav li a:hover{color:#000}
#nav .select a{color:#7D0000}

#top{height:165px}
#content{width:720px;margin:0 auto;font:300 17px "微軟正黑體"}
#content h3{font:900 28px "新細明體";text-shadow:0 1px 0 #fff}

#counter h3{color:#CBA65E;padding:10px 0}
#counter tr{background:#fff;line-height:2.5em}
#counter tr:nth-child(2n-1){background:#A08554;color:#fff}
#counter span{background:#E60012;color:#fff;font:300 11px verdana;width:21px;display:block;text-align:center;border-radius:50%;float:left;margin:10px 5px 0 5px;padding:4px 0}
#counter a{background:#fff;border:1px solid #555;border-radius:5px;padding:7px 15px;font:300 17px "微軟正黑體"}
#total{background:none!important;color:#000!important}
#counter p{border-top:1px solid #7E7B78;border-bottom:1px solid #7E7B78;font:300 13px "微軟正黑體";padding:10px 5px;margin:40px 0 0 0}

.article{padding:40px 0;border-bottom:1px solid #7E7B78}
.article h3{color:#E60012;padding:0 0 10px 0}
.article input{width:100%;padding:5px;font:300 13px verdana}
.article tr{line-height:2.5em}
.article .checkbox{width:16px!important}
.article strong{color:#E60012}

.article #month,.article #day{width:20px!important}
.article p{float:left}

#next{overflow:hidden}
#next p{float:left}
#next a{padding:3px 50px 3px 15px;background:image-url('check.png') 90px center no-repeat #E60012;color:#fff;font:300 30px "微軟正黑體";border-radius:5px;box-shadow:0 3px 0 #90000B;text-shadow:0 -1px 0 #90000B;float:right}
#next a:active{box-shadow:none;position:relative;top:3px}
#next strong{font-size:30px}

#error{background:#A08554;border:1px dashed #333;font:300 14px "微軟正黑體";padding:15px;margin:40px 0 0 0;color:#fff}