#header{height:5000px;position:absolute;}

h2{background:image-url('od-h2.jpg') 0 0 no-repeat #221E1F;height:85px;text-indent:-9999px;border-top:40px solid #EA5504}

#nav{overflow:hidden;border-bottom:1px solid #83807F;padding:10px 0 0 0;width:825px;margin:0 auto;background:image-url('cbg.jpg') repeat}
#nav li{float:left;padding:3px 10px;border-left:1px solid #83807F}
#nav li:nth-child(1){border:0}
#nav li a{font:300 13px "新細明體";text-shadow:0 1px 0 #fff;color:#9FA0A0}
#nav li a:hover{color:#000}
#nav .select a{color:#7D0000}

#top{height:165px}
#content{width:720px;margin:0 auto}
.article{border-top:1px solid #7F7F7F;font:300 15px "微軟正黑體"}

.name{margin:15px 0 0 0}
.name span{background:#E60012;color:#fff;font:300 11px verdana;width:21px;display:block;text-align:center;border-radius:50%;float:left;margin:0 5px 0 0;padding:4px 0}
.name strong{font:700 12px "新細明體";color:#EA5504}
.info{clear:both;padding:0 0 0 25px}
.amt{padding:0 0 0 25px;font-size:13px}
.amt input{border:1px solid #C8C7C7;border-radius:5px;padding:2px 0 2px 5px;font:300 13px verdana;color:#7D0000}

#checkout{text-align:right;margin:40px 0}
#checkout a{padding:3px 50px 3px 15px;background:image-url('check.png') 90px center no-repeat #E60012;color:#fff;font:300 30px "微軟正黑體";border-radius:5px;box-shadow:0 3px 0 #90000B;text-shadow:0 -1px 0 #90000B}
#checkout a:active{box-shadow:none;position:relative;top:3px}

