html{background:#000}
body{width:1200px;margin:0 auto;color:#403F41;font:300 14px "新細明體";-webkit-text-size-adjust: none;color:#000}
a{text-decoration:none;font:300 14px "新細明體";color:#403F41;-webkit-text-size-adjust: none;color:#000}
#wrapper{width:100%;overflow:hidden;position:relative}
#back-to-top{position:fixed;bottom:0!important;right:10px!important;z-index:9;background:#000;padding:5px 10px;border-radius:10px 10px 0 0}
#back-to-top a{color:#fff;font:300 16px "verdana"}

#header{width:270px;float:left;background:image-url('hbg.png') repeat;box-shadow:0 0 10px #000}

#banner h1{width:105px;height:476px;background:image-url('h1.png') 0 0 no-repeat;text-indent:-9999px;margin:40px 0 0 68px}
#banner h1 a{display:block;width:100%;height:100%}
#banner ul{overflow:hidden;border-left:1px solid #CFBA94;width:241px;margin:30px auto 0 auto}
#banner li{width:39px;float:left;border-right:1px solid #CFBA94;background:image-url('li.png') center 10px no-repeat;padding:40px 0 0 0;height:95px;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease}
#banner li a{display:block;width:17px;height:100%;margin:0 auto;font-size:16px;color:#403F41}
#banner .select,
#banner .select:hover{background-color:#F1E9DA}
#banner .select a,
#banner .select:hover a{font-weight:900;color:#7D0000}

#banner li:hover{background:image-url('li.png') center 10px no-repeat #231815}
#banner li:hover a{color:#fff}

#footer{width:240px;margin:55px auto 0 auto}
#social{border-bottom:1px solid #EF873F;text-align:center}
#social a{-webkit-transition:all .3s ease;-moz-transition:all .3s ease}
#social a:hover{position:relative;top:-3px}
#info{border-top:1px solid #FFEDE1;font:300 13px "微軟正黑體";padding:100px 0 20px 0;text-align:center;
background:image-url('logo2.png') center 20px no-repeat;line-height:1.7em}
#info strong{font:900 16px "微軟正黑體"!important}
#info span{font:900 13px "微軟正黑體"!important}

#container{width:930px;float:right;background:image-url('cbg.jpg') repeat;position:relative;box-shadow: inset 3px 0 3px #aaa}