#container{min-height:1025px;height:100%}

h2{background:image-url('ud-h2.jpg') 0 0 no-repeat #221E1F;height:85px;text-indent:-9999px;border-top:40px solid #EA5504}

#top{height:165px}
#content{width:720px;margin:0 auto;font:300 15px "微軟正黑體";line-height:1.7em}

h3{font:900 28px "新細明體";color:#CBA65E;text-align:right}

#content img{float:left;margin:15px 15px 15px 0}
#content p{padding:15px 0}
#content a{font:300 15px "微軟正黑體";color:#A52E34;text-decoration:underline}
