<section class="text text-show">
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">細節展示</th>
        <td class="thumb">
          <% @photos_detail.each do |photo| %>
          <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/thumb_#{photo.id}-#{photo.name}"), "javascript:void(0);" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</section>

<section class="text text-show">
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">顏色</th>
        <td class="thumb">
          <% @photos_color.each do |photo| %>
          <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/thumb_#{photo.id}-#{photo.name}"), "javascript:void(0);" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</section>

<section class="text text-show">
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top">特點</th>
        <td>
          <ul>
            <% @product.get_column_content("description").each do |description| %>
            <li><%= description %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</section>