<div id="photo">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>細節展示</th>
      <% @photos_detail.each do |photo| %>
      <td>
        <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}"), "javascript:void(0);" %></td>
      <% end %></tr>
    <tr>
      <th>顏色</th>
      <% @photos_color.each do |photo| %>
      <td>
        <a href="javascript:void(0);">
          <%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}") %></a>
      </td>
      <% end %></tr>
    <tr>
      <th>特點</th>
      <td>
        <ul>
          <% @product.get_column_content("description").each do |description| %>
          <li>
            <%= description %></li>
          <% end %></ul>
      </td>
    </tr>
  </table>
</div>