<style>
.tab ul { width: 202px }
</style>
<article>
  <section class="category">
    <ul>
      <li><a href="../edit">產品圖</a></li>
      <li class="active"><a href="javascript:void(0)">產品描述</a></li>
      <li><a href="../edit/point">產品特色</a></li>
      <li><a href="../edit/form">產品規格</a></li>
      <li><a href="../edit/wrap">出貨包裝</a></li>
      <li><a href="../edit/size">尺寸表</a></li>
      <li><a href="../edit/wash">洗滌方式</a></li>
      <li><a href="../edit/outro">其他</a></li>
    </ul>
  </section>
  <!--category-->

  <%= form_for(@product, :url => admin_productclass_subclass_product_path(params[:productclass_id], params[:subclass_id], @product, :locale => I18n.locale), :method => "put") do |f| %>

  <%= hidden_field_tag(:next_step, "edit_point") %>
  <% end #form %>

  <section class="tab">
      <ul>
        <li><a href="#post-p"><img src="/images/edit.png">插入段落</a></li>
        <li><a href="#post-img"><img src="/images/img.png"/>插入圖片</a></li>
      </ul>
    </section>
    <!--tab-->
    <section class="post">
      <div id="post-p">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><select name=""><option>內文(粗體/黑)</option><option>強調(粗體/紅)</option></select></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><textarea name="textarea" cols="" rows="" class="autogrow" placeholder="請輸入文字"></textarea></td>
          </tr>
        </table>
      </div>
      <div id="post-img">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><input type="file" name="fileField" id="fileField"></td>
          </tr>
        </table>
      </div>
    </section>
    <!--post-->
    
    <section class="button"> <a href="#"><img src="/images/add.png">新增段落</a> </section>
    <!--button-->
    
    <section class="hgroup">
      <h2>文章預覽</h2>
      <p>（可拖曳文章段落排序）</p>
    </section>
    <!--hgroup-->
    <section class="preview">
      <div>
        <ul class="tool-b">
          <li><a htref="#">編輯</a></li>
          <li><a htref="#">刪除</a></li>
        </ul>
        寫了一些段落 </div>
      <div>
        <ul class="tool-b">
          <li><a htref="#">編輯</a></li>
          <li><a htref="#">刪除</a></li>
        </ul>
        不知所云的第二段</div>
      <div>
        <textarea name="textarea" cols="" rows="" class="autogrow"></textarea>
        <ul class="tool-a">
          <li><a htref="#">儲存</a></li>
          <li><a htref="#">取消</a></li>
        </ul>
      </div>
    </section>
    <!--preview-->

  <section class="button" id="btnSubmit">
    <a href="javascript:$('#edit_product_<%= @product.id %>').submit();">
      <img src="/images/next.png">
      下一步</a>
    <a href="../edit"><img src="/images/back.png">上一步</a>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");
  
  $("#lang a").unbind().click(function(event){
    event.preventDefault();
    Alertify.log.error("文章編輯中, 無法切換語系");
  });
});
</script>