<%= javascript_include_tag "application" %>
<link rel="stylesheet" type="text/css" href="/easyzoom/easyzoom.css">
<script src="/easyzoom/easyzoom.js"></script>

<style type="text/css">
/* Shrink wrap strategy 1 */
.easyzoom {
    float: left;
}
.easyzoom img {
    display: block;
}


/* Shrink wrap strategy 2 */
.easyzoom {
    display: inline-block;
}
.easyzoom img {
    vertical-align: bottom;
}
</style>
<div class="easyzoom easyzoom--overlay">
          <a href="/uploads/Productphoto/27/69-IMG_0913_2.jpg">
            <img src="/uploads/Productphoto/27/69-IMG_0913.jpg" alt="" width="800" height="533" />
          </a>
        </div>

        <script type="text/javascript">
        var $easyzoom = $('.easyzoom').easyZoom();
        var api = $easyzoom.data('easyZoom');
        </script>