.space { height: 50px; }
.paragraphContainer { border-width: 1px; border-style: solid; margin: 5px;}
.editorList { padding-left: 0px;}
.editorList li{ display: inline-block; padding-left: 5px;}
.editorContent .editorChild{ display: none;}
.editorContent .active{ display: block;}