<div id="content">
  <h3>
    <%= t("contact.title").html_safe %></h3>
  <p>
    <%= t("contact.content") %></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="56%">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.282219313044!2d121.4607849!3d25.02449479999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a813d981a30f%3A0xd514f64daacaf379!2zMjIw5paw5YyX5biC5p2_5qmL5Y2A6Iux5aOr6LevNTPomZ8!5e0!3m2!1szh-TW!2stw!4v1403060483712" width="517" height="279" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>
        <br />
        <small>
          <a href="https://www.google.com.tw/maps/place/220%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E8%8B%B1%E5%A3%AB%E8%B7%AF53%E8%99%9F/@25.0244948,121.4607849,17z/data=!3m1!4b1!4m2!3m1!1s0x3442a813d981a30f:0xd514f64daacaf379" style="color:#0000FF;text-align:left" target="_blank">
            <%= t("map.view") %></a>
        </small>
      </td>
      <td width="44%"> <strong>Taiwan (R.O.C.) - JIU FAN Electronics Co., Ltd</strong>
        <br>
        Address：8F., No.53, Yingshi Rd., Banqiao Dist., New Taipei City 220, Taiwan (R.O.C.)
        <br>
        <b>Contact：Selena Shao</b><br>
        Tel：+886 2 8258 1056
        <br>
        Mobile：0910018416
        <br>
        Fax：02-82581213
        <br>
        E-mail：<a href="mailto:selena@versatile-dragon.com" target="_blank">selena@versatile-dragon.com</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <div id="mapDiv"></div>
      </td>
      <td> <strong>Changshu Longquan Electronics Co., Ltd</strong>
        <br>
        Address：The youth road of chang qun industrial park, shajiabang town chang shu city of jiang su provine.<br>
        <b>Contact：Mr.Lin </b><br>
        Tel：0512-52577180/181 <br>
        Fax：0512-52578380<br>
        Mobile（China）：15150360668<br>
        E-mail：<a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a><br>
        <br>
        <b>Contact：Bruce Shao </b><br>
        Mobile（China）：15150360668<br>
        E-mail：<a href="mailto:bruce@versatile-dragon.com" target="_blank">bruce@versatile-dragon.com</a><br>
        <br>
        <b>Contact：Rita Wu </b><br>
        Mobile（China）：18221226179<br>
        E-mail：<a href="mailto:rita@versatile-dragon.com" target="_blank">rita@versatile-dragon.com</a>
      </td>
    </tr>
  </table>
</div>