<div id="content">
  <h3>
    <%= t("contact.title").html_safe %></h3>
  <p>
    <%= t("contact.content") %></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="56%">
        <iframe width="517" height="279" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?oe=utf-8&amp;client=firefox-a&amp;q=%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F%E5%85%AD%E6%A8%93&amp;ie=UTF8&amp;hq=&amp;hnear=220%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F&amp;gl=tw&amp;t=m&amp;brcurrent=3,0x346802a89b3ec1db:0xb869014628c4b89b,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ll=25.028451,121.46347&amp;spn=0.010616,0.021887&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
          <a href="https://maps.google.com.tw/maps?oe=utf-8&amp;client=firefox-a&amp;q=%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F%E5%85%AD%E6%A8%93&amp;ie=UTF8&amp;hq=&amp;hnear=220%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F&amp;gl=tw&amp;t=m&amp;brcurrent=3,0x346802a89b3ec1db:0xb869014628c4b89b,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ll=25.028451,121.46347&amp;spn=0.010616,0.021887&amp;z=15&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">
            <%= t("map.view") %></a>
        </small>
      </td>
      <td width="44%"> <strong>Taiwan (R.O.C.) - JIU FAN Electronics Co., Ltd</strong>
        <br>
        Address：8F., No.53, Yingshi Rd., Banqiao Dist., New Taipei City 220, Taiwan (R.O.C.)
        <br>
        Tel：+886 2 8258 1056 
        <br>
        Fax：+886 2 8258 1213
        <br>
        Contact：Selena Shao 
        <br>
        E-mail：<a href="mailto:selena@versatile-dragon.com" target="_blank">selena@versatile-dragon.com</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <div id="mapDiv"></div>
      </td>
      <td> <strong>Changshu Longquan Electronics Co., Ltd</strong>
        <br>
        Address：The youth road of chang qun industrial park, shajiabang town chang shu city of jiang su provine. 
        <br>
        Tel：0512-52577180/181 
        <br>
        Fax：0512-52578380
        <br>
        Contact：Mr.Lin 
        <br>
        E-mail：<a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a>
        <br>
        Contact：Bruce Shao 
        <br>
        Tel：15150360668
        <br>
        E-mail：<a href="mailto:bruce@versatile-dragon.com" target="_blank">bruce@versatile-dragon.com</a>
        <br>
        Contact：Rita Wu
        <br>
        E-mail：<a href="mailto:rita@versatile-dragon.com" target="_blank">rita@versatile-dragon.com</a>
      </td>
    </tr>
  </table>
</div>