<div id="content">
  <h3>
    <%= t("contact.title").html_safe %></h3>
  <p>
    <%= t("contact.content") %></p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="56%">
        <iframe width="517" height="279" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?oe=utf-8&amp;client=firefox-a&amp;q=%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F%E5%85%AD%E6%A8%93&amp;ie=UTF8&amp;hq=&amp;hnear=220%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F&amp;gl=tw&amp;t=m&amp;brcurrent=3,0x346802a89b3ec1db:0xb869014628c4b89b,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ll=25.028451,121.46347&amp;spn=0.010616,0.021887&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
          <a href="https://maps.google.com.tw/maps?oe=utf-8&amp;client=firefox-a&amp;q=%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F%E5%85%AD%E6%A8%93&amp;ie=UTF8&amp;hq=&amp;hnear=220%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E9%9B%A8%E8%BE%B2%E8%B7%AF58%E8%99%9F&amp;gl=tw&amp;t=m&amp;brcurrent=3,0x346802a89b3ec1db:0xb869014628c4b89b,0,0x345d5538b0b6645f:0x5aa90dfa6620edc0&amp;ll=25.028451,121.46347&amp;spn=0.010616,0.021887&amp;z=15&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">
            <%= t("map.view") %></a>
        </small>
      </td>
      <td width="44%"> <strong>台湾分公司 - 岠钒电子有限公司</strong>
        <br>
        公司地址：新北市板桥区英士路53号8F
        <br>
        公司电话：02-82581056 
        <br>
        公司传真：02-82581213
        <br>
        联络人：邵小姐 
        <br>
        客服信箱：<a href="mailto:selena@versatile-dragon.com" target="_blank">selena@versatile-dragon.com</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>
        <div id="mapDiv"></div>
      </td>
      <td> <strong>常熟龙全电子有限公司</strong>
        <br>
        公司地址：江苏省常熟市沙家滨镇常昆工业园D区青年路
        <br>
        公司电话：0512-52577180/181 
        <br>
        公司传真：0512-52578380
        <br>
        联络人：林先生 
        <br>
        客服信箱：<a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a>
        <br>
        联络人：邵先生 
        <br>
        手机（中国）：15150360668
        <br>
        客服信箱：<a href="mailto:bruce@versatile-dragon.com" target="_blank">bruce@versatile-dragon.com</a>
        <br>
        国外联络人：吴小姐 
        <br>
        客服信箱：<a href="mailto:rita@versatile-dragon.com" target="_blank">rita@versatile-dragon.com</a>
      </td>
    </tr>
  </table>
</div>