<div class="thumb">
        <h4>極地暖kyuwa電熱暖手寶</h4>
          <ul class="bxslider">
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
          </ul>
        </div>
        <div class="thumb">
        <h4>極地暖kyuwa電熱暖手寶</h4>
          <ul class="bxslider">
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
            <li><a href="#"> <img src="/images/example-2.jpg"><br>
              <span>極地暖 KYUWA 電熱圍巾</span></a></li>
          </ul>