#content{padding:0 33px;position:relative;background:image-url("about-01.png") 540px 333px no-repeat}
#content p{padding:10px 0;font:300 15px "微軟正黑體";line-height:1.7em;}
#content h3{color:#000;background:image-url("about-04.jpg") 0 8px no-repeat;padding:0 0 0 40px;height:40px;margin:20px 0 0 0}
#content h3 ~ p{padding-left:43px}
#content h3 ~ img{margin:20px 0 0 0}
#content hr{border:none;border-bottom:1px dashed #E1DBCF;width:770px;margin:50px auto}
#content span{color:#666}
#boss{position:absolute;right:0px;top:565px}

