#banner{background:image-url("contact-banner.jpg") 0 0 no-repeat}

#content{padding:0 33px}
#content p{padding:10px 0;font:300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;line-height:1.7em;width:62%}

#content strong{font:700 22px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;color:#01426b;text-shadow:0 1px 0 #fff}
#content a{color:#fe7d21;text-decoration:underline}
#content a:hover{text-decoration:none}
