html{}
body{width:100%;font:300 14px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;line-height:1.7em}
section{width:1024px;margin:0 auto;}
a{font:300 14px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}

header{background:image-url("index-top-bg.jpg") 0 0 repeat-x;box-shadow:0 3px 3px #aaa;position:relative;z-index:2}
header section{background:image-url("index-top.jpg") 0 0 no-repeat;height:70px;padding:0 20px;overflow:hidden}

h1{float:left;width:40%;padding:12px 0 0 0}
h1 a{display:block;width:180px;height:49px;background:image-url("h1.png");text-indent:-7777px}
nav{float:right;width:60%;padding:27px 0 0 0}
nav ul{overflow:hidden}
nav li{float:left;color:#fff;margin:0 25px}
nav a{color:#fff;font:900 16px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif}
nav a:hover{color:#FFEF1B}
#lang a{font:900 12px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif}

#banner{background:image-url("index-banner.jpg") center 0 no-repeat;position:relative;z-index:1;box-shadow:0 3px 3px #aaa}
#banner section{height:475px;padding:0 0 0 17px}

#slider li{width:990px;height:405px;position:relative;margin:0 auto}
.bx-prev,.bx-next{display:block;top:100px;width:68px;height:198px;position:absolute;text-indent:-7777px;font-size:0%}
.bx-prev{background:image-url("prev.png");left:-17px}
.bx-prev:hover{background:image-url("prev-h.png")}
.bx-prev:active{left:-20px}
.bx-next{background:image-url("next.png");right:-17px}
.bx-next:hover{background:image-url("next-h.png")}
.bx-next:active{right:-20px}

#slider .more{display:block;width:144px;height:37px;background:image-url("index-banner-more.png");text-indent:-77777px;position:absolute;bottom:20px;right:355px;font-size:0%}
#slider .more:hover{background:image-url("index-banner-more-h.png")}

#slider h2,#slider h3{font:300 33px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif}
#slider hgroup{padding:0 0 5px 0}
#slider .text{width:430px;position:absolute;top:155px;right:70px}
#slider .black .text{color:#000}
#slider .white .text{color:#fff}

.bx-pager {overflow:hidden;position:absolute;bottom:23px;right:190px}
.bx-pager a{display:block;width:28px;height:28px;background:image-url("index-banner-page.png");text-indent:-7777px;float:left;margin:0 5px 0 0}
.bx-pager .pager-active{background:image-url("index-banner-active.png")}

article{padding:0 0 25px 0}

#quick{overflow:hidden}
#quick .link{float:left;width:25%;padding:0 15px}
#quick h4{font:900 18px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;height:145px;padding:105px 0 0 0}
#quick h5{font:900 18px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;position:relative;top:-15px}
#quick p{height:140px}
#quick h4{background:30px 0px no-repeat}
#link-1 h4{background-image:image-url("index-01.png")}
#link-2 h4{background-image:image-url("index-02.png")}
#link-3 h4{background-image:image-url("index-03.png")}
#link-4 h4{background-image:image-url("index-04.png")}
#quick a{display:block;width:109px;height:30px;background:image-url("index-more.png");margin:0 auto}
#quick a:hover{background:image-url("index-more-h.png")}

aside{background:image-url("index-footer-bg.jpg") 0 top repeat-x;}
aside section{height:211px;overflow:hidden;background:image-url("index-footer-bg2.jpg") center 0 no-repeat;padding:25px 0 0 0}
aside .info{width:32%;float:left;color:#fff}
aside strong{font-weight:900}
aside a{color:#ffe300}
aside a:hover{text-decoration:underline}

footer{background:image-url("index-footer-bg.jpg") 0 bottom repeat-x}
footer section{height:88px;border-top:1px solid #5084A4;color:#fff;padding:10px}

