html{}
body{font:300 14px Arial,LiGothicMed,微軟正黑體;line-height:1.7em}
section{width:1024px;margin:0 auto;}
a{font:300 14px Arial,LiGothicMed,微軟正黑體;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}

header{min-width:1024px;background:image-url("index-top-bg.jpg") 0 0 repeat-x;box-shadow:0 3px 3px #aaa;position:relative;z-index:2}
header section{height:70px;padding:0 20px;overflow:hidden}

h1{float:left;width:30%;padding:25px 0 0 0}
h1 a{display:block;width:220px;height:25px;background:image-url("h1.png");text-indent:-7777px}
nav{float:right;width:70%;padding:27px 0 0 0}
nav ul{overflow:hidden}
nav li{float:left;color:#fff;margin:0 0 0 30px}
nav a{color:#fff;font:900 16px Arial,LiGothicMed,微軟正黑體}
nav a:hover{color:#FFEF1B}

#cart{height:22px;background:image-url("index-cart.png") 0 0 no-repeat;padding:0 0 0 30px;
font-size:12px}
#cart a{font-size:16px;font-weight:900;margin:0 5px;color:#ffef1b}
#cart a:hover{text-decoration:underline}
#lang{padding:5px 0 0 0}
#lang,#lang a{font:900 12px Arial,LiGothicMed,微軟正黑體;color:#8bcfed}
#lang a:hover{color:#ffef1b}

#banner{min-width:1024px;background:image-url("index-banner.jpg") center 0 no-repeat;position:relative;z-index:1;box-shadow:0 3px 3px #aaa}
#banner section{height:475px;padding:0 0 0 17px}

#slider li{width:990px;height:405px;position:relative;margin:0 auto}
.bx-prev,.bx-next{display:block;top:100px;width:68px;height:198px;position:absolute;text-indent:-7777px;font-size:0%}
.bx-prev{background:image-url("prev.png");left:-17px}
.bx-prev:hover{background:image-url("prev-h.png")}
.bx-prev:active{left:-20px}
.bx-next{background:image-url("next.png");right:-17px}
.bx-next:hover{background:image-url("next-h.png")}
.bx-next:active{right:-20px}

#slider .more{display:block;width:144px;height:37px;background:image-url("index-banner-more.png");text-indent:-77777px;position:absolute;bottom:20px;right:355px;font-size:0%}
#slider .more:hover{background:image-url("index-banner-more-h.png")}

#slider h2,#slider h3{font:300 33px Arial,LiGothicMed,微軟正黑體}
#slider hgroup{padding:0 0 5px 0}
#slider .text{width:430px;position:absolute;top:155px;right:70px}
#slider .black .text{color:#000}
#slider .white .text{color:#fff}

.bx-pager {overflow:hidden;position:absolute;bottom:23px;right:190px}
.bx-pager a{display:block;width:28px;height:28px;background:image-url("index-banner-page.png");text-indent:-7777px;float:left;margin:0 5px 0 0}
.bx-pager .pager-active{background:image-url("index-banner-active.png")}

article{min-width:1024px;padding:0 0 25px 0}
#intro{width:1001px;height:160px;background:image-url("index-intro.png");position:relative;top:-8px;left:10px;z-index:2;
color:#fff;font:700 16px Arial,LiGothicMed,微軟正黑體;text-align:center;padding:60px 0 0 0;line-height:1.7em;
text-shadow:0 0 10px #000}

#quick{overflow:hidden}
#quick .link{float:left;width:25%;padding:0 15px}
#quick h4{font:900 18px Arial,LiGothicMed,微軟正黑體;height:145px;padding:105px 0 0 0}
#quick p{height:140px}
#quick h4{background:30px 0px no-repeat}
#link-1 h4{background-image:image-url("index-01.png")}
#link-2 h4{background-image:image-url("index-02.png")}
#link-3 h4{background-image:image-url("index-03.png")}
#link-4 h4{background-image:image-url("index-04.png")}
#quick a{display:block;width:109px;height:30px;background:image-url("index-more.png");margin:0 auto}
#quick a:hover{background:image-url("index-more-h.png")}

aside{min-width:1024px;background:image-url("index-footer-bg.jpg") 0 top repeat-x;}
aside section{height:145px;overflow:hidden;padding:25px 0 0 195px;background:image-url("index-footer-bg2.jpg") center 0 no-repeat;}
aside .info{width:310px;float:left;color:#fff;margin:0 40px 0 0}
aside strong{font-weight:900}
aside a{color:#ffe300}
aside a:hover{text-decoration:underline}

footer{min-width:1024px;background:image-url("index-footer-bg.jpg") 0 -145px repeat-x;}
footer section{height:120px;border-top:1px solid #5084A4;color:#fff;padding:15px 0 0 0;text-align:center;
background:image-url("index-footer-bg2.jpg") center -145px no-repeat;font-size:12px}