#content{padding:0 33px}
#content p{padding:10px 0;font:300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;line-height:1.7em;width:62%}

#logo{width:800px;margin:55px auto 0 auto}