.bread{color:#fe7300;font-size:16px}
.bread a{color:#fe7300;font-size:16px}
.bread a:hover{text-decoration:underline}

#main{padding:0 33px;overflow:hidden;min-height:500px}

#side{float:left;width:223px}
#side h5 a{font:300 18px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;color:#fff;display:block;width:223px;height:50px;background:image-url("series-h5-h.png") 0 0 no-repeat;padding:11px 0 0 40px}
#side h5 a:hover,#side h5.active a{background:image-url("series-h5.png")}
#side ul{padding:10px 0}
#side li a{display:block;width:188px;height:39px;background:image-url("series-li.png");color:#2f6485;font-size:15px;padding:8px 0 0 23px}
#side li a:hover{background:image-url("series-li-h.png")}
#side li.active a{color:#ce0021}

#content{float:right;width:700px}
#content img{max-width:100%; height: auto}
#content .bread{height:50px;padding:11px 0 0 0}
#content .font-red{color:#ce0021;font:300 32px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;text-shadow:0 1px 0 #fff;padding:0 0 10px 0}
#content .font-black{font:900 18px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;text-shadow:0 1px 0 #fff}
#content p{padding:10px 0;font:300 15px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;line-height:1.7em}
#content p a{font:300 18px "微軟正黑體","微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;color:#fe7300;text-decoration:underline}
#content p a:hover{opacity:.7;filter:alpha(opacity=70)}
