html{}
body{width:100%;font:300 14px Arial,LiGothicMed,微軟正黑體;line-height:1.7em}
section{width:1024px;margin:0 auto;}
a{font:300 14px Arial,LiGothicMed,微軟正黑體;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}

header{min-width:1024px;background:image-url("index-top-bg.jpg") 0 0 repeat-x;box-shadow:0 3px 3px #aaa;position:relative;z-index:2}
header section{height:70px;padding:0 20px;overflow:hidden}

h1{float:left;width:30%;padding:25px 0 0 0}
h1 a{display:block;width:220px;height:25px;background:image-url("h1.png");text-indent:-7777px}
nav{float:right;width:70%;padding:27px 0 0 0}
nav ul{overflow:hidden}
nav li{float:left;color:#fff;margin:0 0 0 30px}
nav a{color:#fff;font:900 16px Arial,LiGothicMed,微軟正黑體}
nav a:hover{color:#FFEF1B}

#cart{height:22px;background:image-url("index-cart.png") 0 0 no-repeat;padding:0 0 0 30px;
font-size:12px}
#cart a{font-size:16px;font-weight:900;margin:0 5px;color:#ffef1b}
#cart a:hover{text-decoration:underline}
#lang{padding:5px 0 0 0}
#lang,#lang a{font:900 12px Arial,LiGothicMed,微軟正黑體;color:#8bcfed}
#lang a:hover{color:#ffef1b}

article{min-width:1024px;background:image-url("article-bg.jpg") center 0 no-repeat #FAF4E6;padding:0 0 65px 0}
.banner{height:205px;padding:135px 0 0 33px}
.bread{color:#fe7300;font-size:16px}
.bread a{color:#fe7300;font-size:16px}
.bread a:hover{text-decoration:underline}
#content h3{color:#ce0021;font:300 32px Arial,LiGothicMed,微軟正黑體;text-shadow:0 1px 0 #fff;padding:0 0 10px 0}

aside{min-width:1024px;background:image-url("index-footer-bg.jpg") 0 top repeat-x;}
aside section{height:145px;overflow:hidden;padding:25px 0 0 0;background:image-url("index-footer-bg2.jpg") center 0 no-repeat;}
aside .info{width:310px;float:left;color:#fff;margin:0 0 0 0}
aside strong{font-weight:900}
aside a{color:#ffe300}
aside a:hover{text-decoration:underline}

footer{min-width:1024px;background:image-url("index-footer-bg.jpg") 0 -145px repeat-x;}
footer section{height:120px;border-top:1px solid #5084A4;color:#fff;padding:15px 0 0 0;text-align:center;
background:image-url("index-footer-bg2.jpg") center -145px no-repeat;font-size:12px}

