#intro{width:1001px;height:160px;background:image-url("index-intro-cn.png");position:relative;top:-8px;left:10px;z-index:2}

#banner_series{background:image-url("series-banner-cn.jpg") 0 0 no-repeat;height:205px;padding:135px 0 0 33px}
#banner_about{background:image-url("about-banner-cn.jpg") 0 0 no-repeat}
#banner_contact{background:image-url("contact-banner-cn.jpg") 0 0 no-repeat}
#banner_partner{background:image-url("partner-banner-cn.jpg") 0 0 no-repeat}