#intro{width:1001px;height:160px;background:image-url("index-intro.png");position:relative;top:-8px;left:10px;z-index:2}

#banner_series{background:image-url("product-banner.jpg") 0 0 no-repeat;position:relative}
#banner_cart{background:image-url("cart-banner.png") 0 0 no-repeat}
#banner_about{background:image-url("about-banner.jpg") 0 0 no-repeat}
#banner_contact{background:image-url("contact-banner.jpg") 0 0 no-repeat}
#banner_partner{background:image-url("partner-banner.jpg") 0 0 no-repeat}
